@import url('../../../Styles/Fonts/Fonts.css');
@import url('../../Components/BackgroundImages/BackgroundImages.css');

.product-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .content {
        margin-top: calc(var(--header-height) + 2%);
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        width: 1200px;



        .title {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 24px;
        }
    }


    .backgroundRight,
    .backgroundLeft {
        width: 20%;
    }

    .backgroundLeft {
        background-position: center right;
    }

    .backgroundRight {
        background-position: center left;
    }

    .slick-prev, .slick-next {
        z-index: 1;
        height: 20px;
        width: 20px;
        color: black;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 20px;
        opacity: 0.75;
        color: black;
    }
}
