@import url('../../../Styles/Fonts/Fonts.css');

.HomeFooter {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 500;

    .no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .first-row {
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .logo {
        margin-left: 5%;
        padding: 0;
    }

    .downloads {
        justify-content: flex-end;
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: row;
    }

    .download-logo {
        width : 135px;
        height: 40px;
        padding: 0;
    }

    .second-row {
        padding-left: 0;
        margin-bottom: 1rem;
        padding-right: 0;
        margin-top: 0;
    }

    .white_line {
        height: 2px;
        background-color: #fff;
        margin: 0 5%;
        padding-left: 0;
        padding-right: 0;
    }

    .third-row {
        margin-bottom: 1rem;
        margin-top: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .socials {
        justify-content: flex-start;
        margin-left: 5%;
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
        min-width: 0;
    }

    .app-logo {
        margin-right: 20px;
        width : auto;
        height: 30px;
    }

    .conditions {
        justify-self: flex-end;
        justify-content: flex-end;
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0;
        white-space: nowrap;
        min-width: 0;
        display: flex;
        flex-direction: row;
    }

    .last_row {
        display: flex;
        justify-content: flex-end;
    }

    .captcha {
        margin-right: 20px;
    }
    .copy {
        margin-right: 5%;
        padding-left: 0;
        padding-right: 0;
    }
    .text {
        margin-left: 3%;
    }

    @media screen and (max-width: 767px) {
        .first-row {
            flex-direction: column;
            margin-bottom: 2%;
        }

        .logo {
            margin-bottom: 3%;
        }

        .downloads {
            justify-content: flex-start;
            margin-left: 5%;
            margin-bottom: 2%;
        }

        .download-logo {
            width : 110px;
            height: 30px;
        }

        .second-row {
            margin-bottom: 0;
        }

        .white_line {
            height: 0;
        }

        .third-row {
            align-items: flex-start;
            flex-direction: column;
            margin-left: 5%;
        }

        .socials {
            justify-content: flex-start;
            margin-left: 0;
        }

        .app-logo {
            margin-right: 4%;
            margin-bottom: 2%;
            height: 25px;
        }

        .conditions {
            justify-content: flex-start;
            margin-right: 5%;
            margin-left: 0;
            flex-direction: column;
            font-size: 12px;
        }

        .last_row {
            display: flex;
            justify-content: flex-start;
            flex-flow: column;
            margin-left: 5%;
            font-size: 12px;
        }

        .copy {
            margin-right: 0;
            margin-left: 0;
        }
        .text {
            margin-left: 0;
        }
    }
}