.backgroundRight,
.backgroundLeft {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.backgroundLeft {
    left: 0;
    background-image: url('../images/img_background_left_food.svg');
    background-position: right;
}

.backgroundRight {
    right: 0;
    background-image: url('../images/img_background_right_food.svg');
    background-position: left;
}