@import url('../../../Styles/Fonts/Fonts.css');
@import url('../../Components/BackgroundImages/BackgroundImages.css');

.create-restaurant-view {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;

    .restaurant-profile {
        margin-top: calc(var(--header-height) + 2%);
        margin-left: 5%;
        display: flex;
        flex-flow: column;
        width: 60vw;

        hr {
            height: 2px;
            border: none;
            background-color: black;
            margin: 30px 0;
            opacity: 100;
        }

        .save-button {
            margin: 5% 0;
            align-self: flex-end;
            border-radius: 6px;
            width: 15%;
        }
    }
}

