@font-face {
    font-family: UberMedium;
    src: url("./UberMoveMedium.otf") format("opentype");
}

@font-face {
    font-family: UberBold;
    src: url("./UberMoveBold.otf") format("opentype");
}


.CesiEatsMedium {
    font-family: 'UberMedium', sans-serif;
}
.CesiEatsBold {
    font-family: 'UberBold', sans-serif;
}