@import url('../../Styles/Form.css');

.logging {
    .inputRow {
        width: 500px;
        display: flex;
        justify-content: space-between;
    }

    .halfInput {
        width: 48%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        display: block;
    }

    .hide {
        display: none;
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        transform: translate(-50%, -50%);
        z-index: 20;
    }
}