.black-header {
    background-color: #000;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    flex: 0 1 auto;
}

.white-logo-div {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
}

@media screen and (max-width: 767px) {
    .white-logo-div {
        margin-left: 2%;
    }
}