@import url('../../../Styles/Fonts/Fonts.css');
@import url('../../Components/BackgroundImages/BackgroundImages.css');

.commands-view {
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-grow: 1;

    .container {
        margin-top: calc(var(--header-height) + 3%);
        flex-grow: 1;
        font-size: 25px;
        width: 60vw;
        margin-right: 0;
        margin-left: 5%;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    .title {
        font-size: 28px;
        margin-bottom: 2%;
        display: flex;
        align-items: center;
        gap: 2%;
    }

    .command-item {
        margin-bottom: 1%;
        font-size: 20px;
        display: flex;align-items: center;
        justify-content: space-between;
    }

    hr {
        border: none;
        height: 1px;
        margin-top: 10px;
    }

    .command-arrow {
        color: black;
        font-size: 30px;
        text-decoration: none;
    }
}
