@import url('../Fonts/Fonts.css');
@import url('../BackgroundImages/BackgroundImages.css');

html,
body {
    height: 100%;
    margin: 0;
}

.logging {
    display: flex;
    flex-flow: column;
    height: 100%;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: calc(100vh - 60px);
        text-align: center;
        font-size: 25px;
        max-width: 600px;
    }

    .input {
        margin: 10px 0;
        padding: 15px 12px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 500px;
        height: 70px;
        box-sizing: border-box;
        background-color: #f2f2f2;
        font-size: 25px;
        text-align: center;
        border: none;
        color: #222;
    }


    .button {
        margin: 40px 0;
        font-size: 25px;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: #000000;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 500px;
        height: 70px;
        transition: background-color 0.3s ease;
    }

    .error-message {
        color: #e74c3c;
        font-size: 25px;
        margin-top: 5px;
    }



    @media screen and (max-width: 767px) {

        body {
            overflow: hidden;
        }

        .container {
            font-size: 16px;
            width: 90%;
            max-width: 500px;
        }

        .input {
            font-size: 16px;
            min-width: 350px;
            width: 90%;
            height: 65px;
        }

        .inputRow {
            width: 90%;
            min-width: 350px;
            flex-direction: column;
        }

        .halfInput {
            width: 100%;
        }

        .button {
            font-size: 16px;
            min-width: 350px;
            width: 90%;
            height: 65px;
        }

        .header {
            height: 50px;
        }
    }
}
